<html>
<head>
    <title>Constituency - {{ constituency.name }}</title>
</head>
<body>
<div class="row">
    <div class="col">
        {{#> section title="Hello"}}Here is the content{{/section}}
    </div>
</div>
</body>
</html>