<html>
<head>
    <title>Constituency - {{ name.value }}</title>
</head>
<body>
<div class="row">
    <div class="col">
        {{#> components/section title="Hello"}}Here is the content{{/components/section}}
    </div>
</div>
</body>
</html>