<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Page Not Found</title>
    {{> chunks/meta-styles }}
</head>
<body>

{{> chunks/title }}

{{#> components/jumbotron }}Page not found{{/components/jumbotron}}

<div class="container">
    <div class="row">
        <div class="col ">
            {{> chunks/horrible-nav }}
        </div>
    </div>
</div>
</body>
</html>