<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Page Not Found</title>
    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}
</head>
<body>

{{> chunks/navbar }}

{{#> components/jumbotron }}Page not found{{/components/jumbotron}}


<div class="container">
    <div class="row justify-content-md-center  align-items-center">
        <div class="col">
            Many constituency names have changed... If you are looking for a constituency - please go to the
            <a href="/constituencies"><div class="btn btn-primary me-1">Constituencies</div></a> page and search.
        </div>
    </div>
</div>

</body>
</html>