<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | Server Error</title>
    {{> chunks/favicons }}
    {{> chunks/meta-styles }}
    {{> chunks/meta-scripts }}
</head>
<body>

{{> chunks/navbar }}

{{#> components/jumbotron }}
    Server Error
{{/components/jumbotron}}


</body>
</html>