{{#> components/section title="Copyright" }}
    <p>(C) 2020, 2021 Top-Of-The-Poops CC-BY-SA 4.0, (C) Openstreetmap contributors, Contains OS data © Crown copyright
        and
        database right 2021</p>
    <p>Full Copyright information available at: <a href="https://github.com/top-poop/top-of-the-poops/">our GitHub
        page</a>
    </p>
{{/components/section}}