<p>© 2020-2025 Top-Of-The-Poops CC-BY-SA 4.0,<br/>
    © Openstreetmap contributors, Contains OS data © Crown copyright and database right 2021-2025, <br/>
    Contains <a
            href="https://www.streamwaterdata.co.uk/pages/the-national-storm-overflow-hub">Water UK National Storm
        Overflow Hub</a> Data CC-BY-SA 4.0 and analysis © 2025 Top-Of-The-Poops</p>
<p>Some data reproduced under <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open
    Government Licence</a></p>
<p>Full Copyright information available at: <a href="https://github.com/top-poop/top-of-the-poops/">our GitHub
    page</a>
</p>
