{{#> components/section title="Data Sources & Accuracy" }}
    <p>EDM (Event Duration Monitoring) data and Consented Discharges to Controlled Waters with Conditions
        from Environment Agency & Data Map Wales</p>

    <p>Experimental derived data from <a href="https://data.thameswater.co.uk/s/">Thames Water</a> API, Some data may be
        missing or inaccurate. This uses Environment Agency rainfall data from the real-time data API (Beta) - Rainfall
        data
        is delayed by up to two days.</p>

    <p>This website is intended to provide an accurate representation of the
        Environment Agency data. The data is hard to use, and thus some errors may have been made. If you find something
        that is incorrect, please raise an issue at <a href="https://github.com/top-poop/top-of-the-poops/issues">the
            GitHub
            issues page</a> and we'll endeavour to fix it quickly.</p>

    <p>This project is not associated, approved or endorsed by any of the companies whose logos you see here.</p>

{{/components/section}}