<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about">
                <h2>Top Of The Poops</h2>
                <p class="pr-5">Analysing sewage pollution by the Water Industry</p>
                <p class="pr-5">With generous support from:</p>
                <a href="https://www.sas.org.uk/"><img height="139" src="/assets/images/logos/sas.png"/></a>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Navigate</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="/">Home</a></li>
                    <li>- <a href="/constituencies">Constituencies</a></li>
                    <li>- <a href="/beaches">Beaches</a></li>
                    <li>- <a href="/rivers">Rivers</a></li>
                    <li>- <a href="/media">Media</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Media Queries</h4>
                <p>Get in touch if you have queries or want to discuss our data.</p>
                <p><i class="fa fa-envelope-o mr-3"></i>press [at] top-of-the-poops.org</p>
                <h4 class="mt-lg-0 mt-sm-4">Please Support Us</h4>
                {{> components/gofundme }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p>(C) 2020, 2021 Top-Of-The-Poops CC-BY-SA 4.0, (C) Openstreetmap contributors, Contains OS data ©
                    Crown copyright
                    and
                    database right 2021-2023</p>
                <p>Full Copyright information available at: <a href="https://github.com/top-poop/top-of-the-poops/">our
                    GitHub
                    page</a>
                </p>
            </div>
        </div>
    </div>
</div>