
<div class="row">
    <div class="col">
        {{#> components/section title="Explore the site"}}
        {{/components/section}}
    </div>
</div>
<div class="row">
    <div class="col mb-2"><a href="/"><button class="btn btn-secondary btn-block">Homepage</button></a></div>
    <div class="col mb-2"><a href="/constituencies"><button class="btn btn-secondary btn-block">Constituencies</button></a></div>
    <div class="col mb-2"><a href="/beaches"><button class="btn btn-secondary btn-block">Beaches</button></a></div>
    <div class="col mb-2"><a href="/rivers"><button class="btn btn-secondary btn-block">Rivers</button></a></div>
    <div class="col mb-2"><a href="/media"><button class="btn btn-secondary btn-block">Media</button></a></div>
</div>
