<div class="row">
    <div class="col">
        {{#> components/section title="Explore the site"}}
            <div class="row">
                <div class="col mb-2"><a href="/">
                    <button type="button" class="w-100 btn btn-secondary">Homepage</button>
                </a></div>
                <div class="col mb-2"><a href="/constituencies">
                    <button type="button" class="w-100 btn btn-secondary">Constituencies</button>
                </a></div>
                <div class="col mb-2"><a href="/beaches">
                    <button type="button" class="w-100 btn btn-secondary">Beaches</button>
                </a></div>
                <div class="col mb-2"><a href="/rivers">
                    <button type="button" class="w-100 btn btn-secondary">Rivers</button>
                </a></div>
                <div class="col mb-2"><a href="/shellfisheries">
                    <button type="button" class="w-100 btn btn-secondary">Shellfisheries</button>
                </a></div>
                <div class="col mb-2"><a href="/media">
                    <button type="button" class="w-100 btn btn-secondary">Media</button>
                </a></div>
            </div>
        {{/components/section}}
    </div>
</div>
