<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/icons/totp-logo-path.svg" alt="Top of the Poops" width="175" height="100">
            </a>
            <a href="/support">
                <div class="btn btn-primary fs-6 me-1"><i class="bi bi-heart-fill text-danger"></i> Donate!</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLive" role="button" data-bs-toggle="dropdown" aria-expanded="false">Live Data</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownLive">
                            <li><a class="dropdown-item" href="/now">Live Overflows<div class="small text-muted">Show all the sewage happening right now</div></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownData" role="button" data-bs-toggle="dropdown" aria-expanded="false">Annual Data</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownData">
                            <li><a class="dropdown-item" href="/beaches">Beaches<div class="small text-muted">Sewage overflows affecting beaches</div></a></li>
                            <li><a class="dropdown-item" href="/constituencies">Constituencies<div class="small text-muted">Discover sewage in your constituency</div></a></li>
                            <li><a class="dropdown-item" href="/senedd-constituencies">Welsh Senedd Constituencies<div class="small text-muted">Discover sewage in your Senedd constituency</div></a></li>
                            <li><a class="dropdown-item" href="/places">Places<div class="small text-muted">Find your town or city and see sewage overflows near you</div></a></li>
                            <li><a class="dropdown-item" href="/rivers">Rivers<div class="small text-muted">Sewage overflows affecting rivers</div></a></li>
                            <li><a class="dropdown-item" href="/shellfisheries">Shellfisheries<div class="small text-muted">Sewage overflows affecting areas that produce shellfish</div></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Water Companies</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/company/anglian-water">Anglian Water</a></li>
                            <li><a class="dropdown-item" href="/company/dwr-cymru-welsh-water">Dwr Cymru Welsh Water</a>
                            </li>
                            <li><a class="dropdown-item" href="/company/northumbrian-water">Northumbrian Water</a></li>
                            <li><a class="dropdown-item" href="/company/scottish-water">Scottish Water</a></li>
                            <li><a class="dropdown-item" href="/company/severn-trent-water">Severn Trent Water</a></li>
                            <li><a class="dropdown-item" href="/company/south-west-water">South West Water</a></li>
                            <li><a class="dropdown-item" href="/company/southern-water">Southern Water</a></li>
                            <li><a class="dropdown-item" href="/company/thames-water">Thames Water</a></li>
                            <li><a class="dropdown-item" href="/company/united-utilities">United Utilities</a></li>
                            <li><a class="dropdown-item" href="/company/wessex-water">Wessex Water</a></li>
                            <li><a class="dropdown-item" href="/company/yorkshire-water">Yorkshire Water</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/media">Media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mb-4">
        <div class="col-lg-9 p-3 p-lg-5 pt-lg-3"><h2 class="display-4 fw-bold lh-1 text-body-emphasis">It's a Dirty Business</h2>
            <p class="lead">Watch Channel 4's documentary about the state of the water industry, then sign the petition to bring water back to public ownership.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="https://www.channel4.com/programmes/dirty-business"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Watch on Channel4.com</button></a>
                <a href="https://petition.parliament.uk/petitions/762640"><button id="petition" type="button" class="btn btn-outline-secondary btn-lg px-4 pulse"><i class="bi bi-arrow-right-short"></i>Click Me & Sign The Petition<i class="bi bi-arrow-left-short"></i></button></a>
            </div>
        </div>
    </div>
</div>

<script type="module">
    const btn = document.getElementById('petition');

    function add() {
        btn.classList.add('pulse');
    }

    function doPulse() {
        btn.classList.remove('pulse');
        setTimeout(add, 0);
    }

    btn.addEventListener('animationend', (e) => {
        if (e.animationName !== 'pulse-ring') return;
        const delay = (Math.random() * 5000) + 5000;
        console.log(`Firing animation in ${delay}`)
        setTimeout(doPulse, delay);
    });

</script>