<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/icons/totp-logo-path.svg" alt="Top of the Poops" width="175" height="100">
            </a>
            <a href="/support">
                <div class="btn btn-primary me-1">Donate or Sign Up!</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/constituencies">Constituencies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/beaches">Beaches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rivers">Rivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shellfisheries">Shellfisheries</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Water Companies</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/company/anglian-water">Anglian Water</a></li>
                            <li><a class="dropdown-item" href="/company/dwr-cymru-welsh-water">Dwr Cymru Welsh Water</a>
                            </li>
                            <li><a class="dropdown-item" href="/company/northumbrian-water">Northumbrian Water</a></li>
                            <li><a class="dropdown-item" href="/company/scottish-water">Scottish Water</a></li>
                            <li><a class="dropdown-item" href="/company/severn-trent-water">Severn Trent Water</a></li>
                            <li><a class="dropdown-item" href="/company/south-west-water">South West Water</a></li>
                            <li><a class="dropdown-item" href="/company/southern-water">Southern Water</a></li>
                            <li><a class="dropdown-item" href="/company/thames-water">Thames Water</a></li>
                            <li><a class="dropdown-item" href="/company/united-utilities">United Utilities</a></li>
                            <li><a class="dropdown-item" href="/company/wessex-water">Wessex Water</a></li>
                            <li><a class="dropdown-item" href="/company/yorkshire-water">Yorkshire Water</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/media">Media</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row mb-2">
        <div class="col m4cw">
            <a href="https://marchforcleanwater.org/"><div class="container-fluid  rounded" style="background: #3d85f3ff; color: #f2f1dfff;">
                <h1 class="display-5">Join Us 3rd November 2024 - London</h1>
                <p class="col-md-8 fs-4" style="font-family: rubik">March for Clean Water</p>
            </div></a>
        </div>
    </div>
</div>