.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero img {
    height: 100px;
}

.hero .title {
    font-size: 60pt;
    margin: 0 0 10px;
    text-align: center;
}

.hero .title a {
    color: #4A4A4A;
}

.hero .title a:link {
    text-decoration: none;
}

.hero .title a:visited {
    text-decoration: none;
}

.hero .title a:hover {
    text-decoration: none;
}

.hero .title a:active {
    text-decoration: none;
}

@media screen and (max-width: 961px) {
    .sewage-map {
        min-height: 400px;
    }
    .plot-chart {
        height: 200px;
    }
    #spill-correlation g[aria-label='text'] {
        display: none;
    }
    #spill-correlation g[aria-label='y-axis tick label'] text:nth-child(even) {
        display: none;
    }
}

@media screen and (min-width: 961px) {
    .sewage-map {
        height: 800px;
    }
    .plot-chart {
        height: 600px;
    }
}

table.table-spills tbody td {
    height: 3em;
    overflow: hidden;
}

.map {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.leaflet-container {
    min-height: 500px;
    height: 50vw;
    display: flex;
    flex-direction: column;
}

.delta-negative {
    color: #0b2e13;
}

.delta-negative:before {
    content: "↓ "
}

.delta-positive {
    color: #721c24;
}

.delta-positive:before {
    content: "↑ "
}

.spill-hours-large {
    font-weight: bold;
}

.spill-hours-huge {
    font-weight: bolder;
    color: #a62e30;
}

.spill-hours-zero:before {
    content: "✓ "
}

.observable-plot-container.vertical text {
    font-size: 6vw;
}

.observable-plot-container.horizontal text {
    font-size: 12pt;
}

.observable-plot-container figcaption {
    color: #282626;
}

.company-card {
    overflow-x: clip;
}

.company-card img {
    height: 80px;
}

.media-card img {
    height: 153px;
}

.footer {
    background: #f9f7ef;
    color: black;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    /*color: black;*/
    transition: color 0.2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180CB;
}

.footer .about i {
    font-size: 25px;
}

.footer .about a {
    color: black;
    transition: color 0.2s;
}

.footer .about a:hover {
    color: #4180CB;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
