

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 961px) {
    .sewage-map {
        min-height: 400px;
    }
    .plot-chart {
        height: 200px;
    }
    #spill-correlation g[aria-label='text'] {
        display: none;
    }
    #spill-correlation g[aria-label='y-axis tick label'] text:nth-child(even) {
        display: none;
    }
}

@media screen and (min-width: 961px) {
    .sewage-map {
        height: 800px;
    }
    .plot-chart {
        height: 600px;
    }
}

table.table-spills tbody td {
    height: 3em;
    overflow: hidden;
}

.map {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.leaflet-container {
    min-height: 500px;
    height: 50vw;
    display: flex;
    flex-direction: column;
}

.delta-negative {
    color: #0b2e13;
}

.delta-negative:before {
    content: "↓ "
}

.delta-positive {
    color: #721c24;
}

.delta-positive:before {
    content: "↑ "
}

.spill-hours-large {
    font-weight: bold;
}

.spill-hours-huge {
    font-weight: bolder;
    color: #a62e30;
}

.spill-hours-zero:before {
    content: "✓ "
}

.observable-plot-container.vertical text {
    font-size: 6vw;
}

.observable-plot-container.horizontal text {
    font-size: 12pt;
}

.observable-plot-container figcaption {
    color: #282626;
}

.media-card img {
    height: 153px;
}

@font-face {
    font-family: 'rubik';
    src: url(/assets/fonts/RubikMonoOne-Regular.ttf) format('woff2');
    font-style: normal;
    font-weight: bold;
}

.spill-hours {
    font-weight: bolder;
}


.m4cw  a:link {
    text-decoration: none;
}

.m4cw a:visited {
    text-decoration: none;
}


.table-mono {
    font-family: "JetBrains Mono", monospace;
    font-variant-numeric: tabular-nums;
}

