<div class="card company-card h-100">
    <a href="{{linkUri}}">
        <div class="logo">
            <img src="{{imageUri}}" alt="Logo for {{name}}">
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">{{name}}</h5>
        </div>
    </a>
</div>
