<a class="resp-sharing-button__link"
   href="https://www.linkedin.com/sharing/share-offsite/?url={{urlencode uri}}"
   target="_blank" rel="noopener" aria-label="Share on Linked In">
    <div class="resp-sharing-button resp-sharing-button--linkedin resp-sharing-button--large">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
            <i class="bi bi-linkedin me-2"></i>
        </div>
        Post
    </div>
</a>