<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | {{ status.description }}</title>
    {{> chunks/meta-styles }}
</head>
<body>
{{> chunks/title }}
<sitemesh:write property="body"/>
</body>
</html>