<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Top of the Poops | <sitemesh:write property="title"/></title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fork.css">

    <meta name="description" content="Analysing sewage dumps by water companies in the UK">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ uri }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Top of the Poops - <sitemesh:write property='title'/>">
    <meta property="og:description" content="Analysing sewage dumps by water companies in your constituency">
    <meta property="og:image" content="https://top-of-the-poops.org/assets/poop.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="top-of-the-poops.org">
    <meta property="twitter:url" content="{{uri}}">
    <meta name="twitter:image" content="https://top-of-the-poops.org/assets/poop.png">
    <meta name="twitter:title" content="Top of the Poops - <sitemesh:write property='title'/>">
    <meta name="twitter:description" content="Analysing sewage dumps by water companies in your constituency">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> chunks/title }}
<sitemesh:write property="body"/>
<div class="container">
    <div class="row"><div class="col">{{> chunks/data-sources }}</div></div>
    <div class="row"><div class="col">{{> chunks/copyright }}</div></div>
</div>
</body>
</html>